{% extends 'base.html.twig' %}

{% block main %}

<div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4">About Us
      <small>It's Nice to Meet You!</small>
    </h1>
    <p>Vous chercher un billet pas cher vers quel pays? Ici vous trouvez les meilleurs tarifs</p>
    <h1>QUI SOMMES NOUS !</h1>
    <p>RFG VOYAGE est la première agence de voyage en Europe à répondre véritablement aux attentes du voyageur d'aujourd'hui. Nous offrons à nos clients l'accès à plus de 610 compagnies aériennes, plus de 1 700 000 hôtels dans 200 pays et plus de 7 000 agences de location de véhicules à travers le monde. Opodo possède des sites Web de voyage dans les pays suivants
     : Royaume-Uni, France, Allemagne, Italie, Espagne, Autriche, Belgique, Portugal, Pologne Suisse, Suède, Norvège, Danemark, Finlande et Australie.
</p>
 
 
<h1>Pourquoi choisir RFG VOYAGE ?</h1>
<p>
Le prix : nous vérifions les prix au quotidien pour vous proposer les tarifs les plus compétitifs
Le choix : vous pouvez choisir de réserver parmi des centaines de compagnies aériennes, des milliers d'hôtels et d'agences de location de voitures dans le monde entier.
Facilité d'utilisation : vous pourrez préparer votre voyage sur une seule page grâce à la variété de produits que nous vous offrons.
Service client : notre service client vous offre son aide avant, pendant et après votre voyage. 
Réputation : des millions de clients depuis 2002 ! 

Nous sommes disponibles à tout moment<p>


{% endblock %}