{% extends 'base.html.twig' %}

{% block main %}
<h2> Adresse E-mail:</h2>
<a href="#" >rfgvoyage@yahoo.fr</a>
<h2> Téléphone:</h2>
<a href="#" >72258896</a>
<h2>Fax:</h2>
<a href="#" >77258896</a>
 <footer>
  Vous trouverez toute l'aide et l'information dont vous avez besoin dans notre <a href="#" >Centre d'aide</a>
</footer>
{% endblock %}

